<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Gestion aulas</title>
	

    <!--JQUERY-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="/form.css" th:href="@{/css/form.css}">
</head>
	
	
	<body>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#finalesList').DataTable();
		} );
	</script>
	<div class="d-flex justify-content-end form-group">
		
			<a type="reset"  href="/menu" class="btn btn-dark "> Volver al Menu</a>
			
		</div>
		<div class="table-responsive">
			<table id="finalesList" class="table table-bordered table-hover table-striped">
				<thead class="thead-light">
		             <tr>
		             	<th scope="col">#</th>
		                <th scope="col">Aprobado</th>
		                <th scope="col">Carrera</th>
		                <th scope="col">Materia</th>
		                <th scope="col">Estudiantes</th>
		                <th scope="col">Turno</th>
		                <th scope="col">Fecha</th>
		                <th scope="col">Tipo de aula</th>
		                <th scope="col">Con proyector</th>
		                <th scope="col">Aula</th>
		                <th scope="col">Descripcion</th>
		                <th scope="col"></th>

		              </tr>
				</thead>
				<tbody>
		            <tr class= "contenidoTabla" th:each= "final: ${finalesList}">
		            	<th th:text="${final.id}"></th>
		            	<th th:text="${final.aprobado} ? 'Aprobado':'En espera'"></th>
		                <th th:text="${final.materia.carrera.name}"></th>
		                <th th:text="${final.materia.name}"></th>
						<th th:text="${final.cantEstudiantes}"></th>
						<th th:text="${final.turno}"></th>
						<th th:text="${final.fecha}"></th>
						<th th:text="${final.tipoAula}"></th>
						<th th:text="${final.conProyector} ? 'Si':'No'"></th>
						 <th th:text="${final.aula}? |${final.aula.numAula} - ${final.aula.edificio.nombre}|:'No asignada'"></th>
						<th th:text="${final.descripcion}"></th>  
						<th><a th:href="@{/listafinal/borrar/} + ${final.id}"><img src="/img/eliminar.png"></a></th>

		             </tr>
				</tbody>
			</table>
			<div class="alert alert-danger text-center" th:if="${listErrorMessage}" th:text="${listErrorMessage}">Error Message</div>
		</div>
		<div class="boton">
		  <a href="/listafinal/?format=pdf">
			   Exportar
		  </a>
		</div>
	</body>	
</html>